{% for key,formatted_value in formatted_values %}
<span class="hour_minutes_seconds__{{ labels[key]['label multiple'] }}">{{- formatted_value -}}
  {% if (loop.index <= loop.length-2) %}
    {{- separator -}}
  {% endif %}
  {% if (loop.index == loop.length-1) %}
    {{- last_separator -}}
  {% endif %}
</span>
{% endfor %}

